
.aboutContent {
    display: flex;    

    margin: 0px auto;
    width: 80%;

    color: var(--color-text-main);

    @media (max-width: 768px) {
        flex-direction:column-reverse;
        text-align: center;
    }
}

.imageContainer {
    height: 40vh;
    width: 40vh;

    margin: 0px auto;    

    border-radius: 50%;

    padding: 25px;
}